body{
    margin: 0px;
    font-family: 'Gloria Hallelujah','Indie Flower','Mali', cursive;
}


.canvas{
    border:1px black dotted;
    position: absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color: transparent;  
}

#canvas-draft{
    background-color: transparent;
}

#canvas-container{
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    height:600px;
    width: 800px;
    border: solid green;
  
}  

.buttons{
    position:relative;
    z-index: 10;
}


#zoomImg{
    display: none;
}

#undoImg{
    display: none;
}

#redoImg{
    display: none;
}


