.canvas{
    border:1px black dotted;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color: transparent;  
}

#canvas-draft{
    background-color: transparent;
}

#canvas-container{
    height:720px;
    width: 1280px;
    border: solid green;
    overflow-x: hidden;
    overflow-y: hidden;
    

}  

.buttons{
    position:relative;
    z-index: 5;
}


#zoomImg{
    display: none;
}
