.upperBar{
    background-color: grey;
    padding:30px;
}

.canvas{
    border:1px black dotted;
    display:block

}

.canvasArea{
    direction:flex;
}

.buttons{
    width:80px;
}

.btn{
    width:80px;
    overflow: hidden;
}

#canvas-draft{
    background-color: transparent;
}

#canvas-container{
    height:720px;
}  